// $hamburger-padding-x: 0;
// $hamburger-padding-y: 0;
// $hamburger-layer-width: 30px;
// $hamburger-layer-height: 2px;
// @import "~hamburgers/_sass/hamburgers/hamburgers.scss";

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hkgrotesk-mediumlegacy-webfont.woff2") format("woff2"),
    url("../fonts/hkgrotesk-mediumlegacy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/hkgrotesk-boldlegacy-webfont.woff2") format("woff2"),
    url("../fonts/hkgrotesk-boldlegacy-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "HK Grotesk";
}

button {
  cursor: pointer;
  &,
  &:active {
    outline: none;
  }
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    top: 92px;
    @media (min-width: 768px) {
      top: 48px;
    }
  }
}
